# ***Lecture Day2***
**[By Palm]**

### ***Comment***

In [1]:
# this is comment. comment won't work in this code just note (inline comment)
print("Hello world")

Hello world

In [2]:
"""
Mutiline comment
Mutiline comment
"""
print("Hello world")

Hello world

### ***Print***

```python
print("123", "456", "789")
``` 
***
* "123", "456", "789" We call these ***arguments***

In [3]:
print("Hello world")
print("Hello", "World", "!", "123")
print("Hello", "World", "!", "123", sep="-")

Hello world
Hello World ! 123
Hello-World-!-123

In [4]:
print("Hello", "World", "!", "123", sep="\n")

Hello
World
!
123

### ***Data type***

- integer - **int()**
    - Ex. 2, 1, 0, -1, -2
- floating point - **float()**
    - Ex. 2.3, 1.2, 0.0, -1.5, -2.5
- string - **str()**
    - Ex. "asdasdxc", 'asdqeweqe'
- boolean - **bool()**
    - Ex. **True** ,  **False**
- ***None***

### ***Type Checking***

In [5]:
# type() is a function to check type

print(type(0.0))

<class 'float'>

In [6]:
# isinstance(arg1, arg2) check whether arg1 is the type arg2

print(isinstance(1, int))

True

In [7]:
# Fun fact
print(True == 1)
print(False == 0)
print(isinstance(True, int))
print(isinstance(False, int))

True
True
True
True

# ***Lecture Day3***
**[By Palm]**

### ***Variable***

In [12]:
# Declare variable
age = 22
firstname = "Vetit"
is_odd = False

print(age) # How to print it

age = 23
print(age) # Age after reassign!

age = None
print(age)

22
23
None

In [13]:
# Name variable | Meaningful
firstname = "Name"
lastname = "Lastname"

"""
Bad example
1var = 3
_var = 2
"""

# Reserve Words
print(help("keywords")) # CANNOT use as a variable name!!!

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

None

### ***Input***

In [20]:
username = input() # How to input
print("Hello, welcome", username)

Hello, welcome asds

In [21]:
username = input("Please input your username") # Put any string to make user know where to input
print("Hello, welcome", username)

Hello, welcome 231

### ***Convert datatype***

In [24]:
# int()
a = int("4")
print(a, type(a))

a = int("-1")
print(a, type(a))

a = int(2.4)
print(a, type(a))

a = int(-2.4)
print(a, type(a))

"""
Cannot convert
a = int("True")
a = int("2.4")
"""

4 <class 'int'>
-1 <class 'int'>
2 <class 'int'>
-2 <class 'int'>

'\nCannot convert\na = int("True")\na = int("2.4")\n'

In [29]:
# float()
a = float(-2)
print(a, type(a))

a = float("-2")
print(a, type(a))

a = float("-2.4")
print(a, type(a))

a = float(True)
print(a, type(a))

-2.0
-2.0
-2.4
1.0

In [35]:
# bool()
a = bool(1)
print(a, type(a))

a = bool(0)
print(a, type(a))

a = bool(-1)
print(a, type(a))

a = bool(0.0)
print(a, type(a))

a = bool("")
print(a, type(a))

a = bool(2.4)
print(a, type(a))

a = bool(None)
print(a, type(a))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>
False <class 'bool'>
False <class 'bool'>
True <class 'bool'>
False <class 'bool'>

In [38]:
# str()
a = str(1)
print(a, type(a))

a = str(True)
print(a, type(a))

a = str(False)
print(a, type(a))

a = str(2.4)
print(a, type(a))

a = str(-2.4)
print(a, type(a))

1 <class 'str'>
True <class 'str'>
False <class 'str'>
2.4 <class 'str'>
-2.4 <class 'str'>
15

### ***Math operations***

In [49]:
a = 1 + 1 # 2

a = 6-3 # 3

a = 4*5 # 20

a = 6/3 # 2.0 divide is always in float
a = int(6/3) # 2

a = 6//3 # 2

a = 2**3 # 8

# Modulus find remainder
a = 5%3 # 2
a = 54%13 # 2
a = 54%5 # 4
a = 32.2%3 # 2.200000000000003    abnormal case
a = 10%3.3 # 0.10000000000000053  abnormal case

a = 0 ** 0 # In math, undefine, But in python is 1 !!!

### ***Order of operations***

In [66]:
""" 
The order of operations
()
**
* / %
+ -
"""
a = (2 * 2) - (2 / 2) - (2 ** 2) # 1st way of reorganizing 
a = 2*2 - 2/2 - 2**2 # 2nd way of reorganizing

### ***Variable Assign***

In [119]:
a = 4 + 4
b = 3 * 2

print(a + b)

a = a + 4
a = b / a
print(a, b)

14
0.5 6

In [122]:
a = 1
a = a + 4 # Same 
print(a)

a = 1
a += 4 # Same
print(a)

a -= 1
a /= 1
a %= 1
a *= 1

5
5

### ***Logical Operators***

In [2]:
a = 5 

2 > 3 # False
a < 7 # True

# Equal sign 
a == 6 # False

a >= 5 # True
a <= 2 # False
a != 5 # False

4 > 3 > 2  # True
3 == 3 != 3 # False

False

# ***Lecture Day4***
***[By Palm]***

### ***Logical Connector***

In [16]:
# and, or, not
print(f"not Operator: {not True}")

TF = [True, False]
for i in TF:
    for j in TF:
        print(f"And operator: { str(i) } and { str(j) } is { i and j }")
print()

TF = [True, False]
for i in TF:
    for j in TF:
        print(f"Or operator: { str(i) } or { str(j) } is { i or j }")

2 > 3 and 3 > 1

not Operator: False
And operator: True and True is True
And operator: True and False is False
And operator: False and True is False
And operator: False and False is False

Or operator: True or True is True
Or operator: True or False is True
Or operator: False or True is True
Or operator: False or False is False

False

In [19]:
user_age, user_firstname = int(input()), input()
print("Name:",user_firstname)
print("Age:",user_age)

Name: Palm
Age: 19

### ***Adder Program***

In [28]:
# Example
first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))
print(first_number, second_number)

added_number = first_number + second_number
print(added_number)

1 3
4

### ***Celsius to others***

In [35]:
# Converting temperature Celsius to others 3

celsius = float(input("Please enter your temperature(Celsius): "))

# celsius/5 = f-32/9 = k-273/5 = r/4
farenheit = (celsius / 5)*9 + 32
kelvin = celsius + 273
reaumur = (celsius / 5) * 4

print(f"From {celsius} Celsius to {farenheit} Farenheit")
print(f"From {celsius} Celsius to {kelvin} Kelvin")
print(f"From {celsius} Celsius to {reaumur} Reaumur")

From 32.0 Celsius to 89.6 Farenheit
From 32.0 Celsius to 305.0 Kelvin
From 32.0 Celsius to 25.6 Reaumur

### ***Maths Functions***

In [39]:
abs(-12) # turning negative number to positive
abs(-1.0)

1.0

In [42]:
max(1,3,4,5,2,1,3,4,2)
min(1,3,4,5,2,1,3,4,2)

1

In [46]:
round(2.45, 1) # 2.5
round(-1.2563, 3) # -1.256

-1.256