# ***Lecture Day2***
**[By Palm]**

### ***Comment***

In [1]:
# this is comment. comment won't work in this code just note (inline comment)
print("Hello world")

Hello world

In [2]:
"""
Mutiline comment
Mutiline comment
"""
print("Hello world")

Hello world

### ***Print***

```python
print("123", "456", "789")
``` 
***
* "123", "456", "789" We call these ***arguments***

In [3]:
print("Hello world")
print("Hello", "World", "!", "123")
print("Hello", "World", "!", "123", sep="-")

Hello world
Hello World ! 123
Hello-World-!-123

In [4]:
print("Hello", "World", "!", "123", sep="\n")

Hello
World
!
123

### ***Data type***

- integer - **int()**
    - Ex. 2, 1, 0, -1, -2
- floating point - **float()**
    - Ex. 2.3, 1.2, 0.0, -1.5, -2.5
- string - **str()**
    - Ex. "asdasdxc", 'asdqeweqe'
- boolean - **bool()**
    - Ex. **True** ,  **False**
- ***None***

### ***Type Checking***

In [5]:
# type() is a function to check type

print(type(0.0))

<class 'float'>

In [6]:
# isinstance(arg1, arg2) check whether arg1 is the type arg2

print(isinstance(1, int))

True

In [7]:
# Fun fact
print(True == 1)
print(False == 0)
print(isinstance(True, int))
print(isinstance(False, int))

True
True
True
True

# ***Lecture Day3***
**[By Palm]**

### ***Variable***

In [12]:
# Declare variable
age = 22
firstname = "Vetit"
is_odd = False

print(age) # How to print it

age = 23
print(age) # Age after reassign!

age = None
print(age)

22
23
None

In [13]:
# Name variable | Meaningful
firstname = "Name"
lastname = "Lastname"

"""
Bad example
1var = 3
_var = 2
"""

# Reserve Words
print(help("keywords")) # CANNOT use as a variable name!!!

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

None

### ***Input***

In [20]:
username = input() # How to input
print("Hello, welcome", username)

Hello, welcome asds

In [21]:
username = input("Please input your username") # Put any string to make user know where to input
print("Hello, welcome", username)

Hello, welcome 231

### ***Convert datatype***

In [24]:
# int()
a = int("4")
print(a, type(a))

a = int("-1")
print(a, type(a))

a = int(2.4)
print(a, type(a))

a = int(-2.4)
print(a, type(a))

"""
Cannot convert
a = int("True")
a = int("2.4")
"""

4 <class 'int'>
-1 <class 'int'>
2 <class 'int'>
-2 <class 'int'>

'\nCannot convert\na = int("True")\na = int("2.4")\n'

In [29]:
# float()
a = float(-2)
print(a, type(a))

a = float("-2")
print(a, type(a))

a = float("-2.4")
print(a, type(a))

a = float(True)
print(a, type(a))

-2.0
-2.0
-2.4
1.0

In [35]:
# bool()
a = bool(1)
print(a, type(a))

a = bool(0)
print(a, type(a))

a = bool(-1)
print(a, type(a))

a = bool(0.0)
print(a, type(a))

a = bool("")
print(a, type(a))

a = bool(2.4)
print(a, type(a))

a = bool(None)
print(a, type(a))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>
False <class 'bool'>
False <class 'bool'>
True <class 'bool'>
False <class 'bool'>

In [38]:
# str()
a = str(1)
print(a, type(a))

a = str(True)
print(a, type(a))

a = str(False)
print(a, type(a))

a = str(2.4)
print(a, type(a))

a = str(-2.4)
print(a, type(a))

1 <class 'str'>
True <class 'str'>
False <class 'str'>
2.4 <class 'str'>
-2.4 <class 'str'>
15

### ***Math operations***

In [49]:
a = 1 + 1 # 2

a = 6-3 # 3

a = 4*5 # 20

a = 6/3 # 2.0 divide is always in float
a = int(6/3) # 2

a = 6//3 # 2

a = 2**3 # 8

# Modulus find remainder
a = 5%3 # 2
a = 54%13 # 2
a = 54%5 # 4
a = 32.2%3 # 2.200000000000003    abnormal case
a = 10%3.3 # 0.10000000000000053  abnormal case

a = 0 ** 0 # In math, undefine, But in python is 1 !!!

### ***Order of operations***

In [66]:
""" 
The order of operations
()
**
* / %
+ -
"""
a = (2 * 2) - (2 / 2) - (2 ** 2) # 1st way of reorganizing 
a = 2*2 - 2/2 - 2**2 # 2nd way of reorganizing

### ***Variable Assign***

In [119]:
a = 4 + 4
b = 3 * 2

print(a + b)

a = a + 4
a = b / a
print(a, b)

14
0.5 6

In [122]:
a = 1
a = a + 4 # Same 
print(a)

a = 1
a += 4 # Same
print(a)

a -= 1
a /= 1
a %= 1
a *= 1

5
5

### ***Logical Operators***

In [2]:
a = 5 

2 > 3 # False
a < 7 # True

# Equal sign 
a == 6 # False

a >= 5 # True
a <= 2 # False
a != 5 # False

4 > 3 > 2  # True
3 == 3 != 3 # False

False

# ***Lecture Day4***
***[By Palm]***

### ***Logical Connector***

In [16]:
# and, or, not
print(f"not Operator: {not True}")

TF = [True, False]
for i in TF:
    for j in TF:
        print(f"And operator: { str(i) } and { str(j) } is { i and j }")
print()

TF = [True, False]
for i in TF:
    for j in TF:
        print(f"Or operator: { str(i) } or { str(j) } is { i or j }")

2 > 3 and 3 > 1

not Operator: False
And operator: True and True is True
And operator: True and False is False
And operator: False and True is False
And operator: False and False is False

Or operator: True or True is True
Or operator: True or False is True
Or operator: False or True is True
Or operator: False or False is False

False

In [19]:
user_age, user_firstname = int(input()), input()
print("Name:",user_firstname)
print("Age:",user_age)

Name: Palm
Age: 19

### ***Adder Program***

In [28]:
# Example
first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))
print(first_number, second_number)

added_number = first_number + second_number
print(added_number)

1 3
4

### ***Celsius to others***

In [35]:
# Converting temperature Celsius to others 3

celsius = float(input("Please enter your temperature(Celsius): "))

# celsius/5 = f-32/9 = k-273/5 = r/4
farenheit = (celsius / 5)*9 + 32
kelvin = celsius + 273
reaumur = (celsius / 5) * 4

print(f"From {celsius} Celsius to {farenheit} Farenheit")
print(f"From {celsius} Celsius to {kelvin} Kelvin")
print(f"From {celsius} Celsius to {reaumur} Reaumur")

From 32.0 Celsius to 89.6 Farenheit
From 32.0 Celsius to 305.0 Kelvin
From 32.0 Celsius to 25.6 Reaumur

### ***Maths Functions***

In [39]:
abs(-12) # turning negative number to positive
abs(-1.0)

1.0

In [42]:
max(1,3,4,5,2,1,3,4,2)
min(1,3,4,5,2,1,3,4,2)

1

In [46]:
round(2.45, 1) # 2.5
round(-1.2563, 3) # -1.256

-1.256

# ***Lecture Day5***
[**By Palm**]

### ***Constant***

In [ ]:
PI = 3.14 # the variable name should use the UPPER_CASE
MATH_E = 2.7
API_LINK = ''

### ***Conditional***

In [8]:
# if condition:
#   statement

if 3 < 2:
    print("Hello")

if 5 != 4 and 6 > 3:
    if 5 < 4:
        print("NOOOOOO")
    print("YESS")
print("WOW")

YESS
WOW

In [14]:
# if condition:
#   statement
# else:

if 5 < 5:
    print("True")
else:
    print("False")

False

In [17]:
# if condition:
#   statement
# elif condition:
#   statement
# else: 

if 4 > 5:
    print("IF")
elif 5 == 5:
    print("ELSE IF")
else:
    print("ELSE")

ELSE IF

In [21]:
pocket_money = int(input("Please enter the pocket money: "))
age = int(input("Please enter your age: "))
is_above20 = age >= 20

if pocket_money > 3000:
    print("cavier and foir gras")
    
    if is_above20 >= 20:
        print("Wine")
elif pocket_money > 700:
    print("Buffet")

    if is_above20 >= 20:
        print("Beer")
elif pocket_money > 100:
    print("Tom Yam")
    print("That Omlette")
elif pocket_money > 10:
    print("Go back gome and eat MaMa")
    print("Water")

Go back gome and eat MaMa
Water

# ***Lecture Day 6***

### ***While loop***

In [1]:
# while condition:
#   statement

number = 1
while number < 6:
    print(number)
    number += 1

1
2
3
4
5

In [3]:
number = 2

while number <= 20:
    print(number,end=" ")
    number += 2

2 4 6 8 10 12 14 16 18 20

In [1]:
from math import floor
def is_prime(number:int) -> bool:
    if number == 1:
        return False
    
    i = 2
    while i <= number**(1/2):
        if number % i == 0:
            return False
        i += 1
    return True

a = 2
while a <= 20:
    if is_prime(a):
        print(a, end=" ")
    a += 1

2 3 5 7 11 13 17 19

### ***Break, continue, pass***

In [3]:
number = 1
while True: # forever loop
    print(number, end=" ")

    if number % 17 ==0 and number%2 == 0:
        print("\nBreak") 
        break # stop the loop
    number += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34
Break

In [7]:
number = 1 
while number < 20:
    if number == 2:
        print(" Skipped!", end=" ")
        number += 1
        continue # skipped the loop
    else:
        print(number, end= " ")
    number += 1


# pass

1  Skipped! 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

### ***For loop***

In [22]:
# for variable in range():
#   action

# range(start, stop, step)
range(6) # 0, 1, 2, 3, 4, 5
range(3) # 0, 1, 2, 3
range(5, 12) # 5, 6, 7, 8, 9, 10, 11
range(-1, 3) # -1, 0, 1, 2

range(3, 9, 2) # 3, 5, 7
range(10,-1,-1) # 10,9,8,7,6,5,4,3,2,1,0

range(10, -1, -1)

In [28]:
#print square of numbers from 1-10
for number in range(1, 11):
    square = number ** 2
    print(square , end=' ')

1 4 9 16 25 36 49 64 81 100

# ***Lecture day 7***

### ***String***

In [5]:
# store any word sentense
empty_string = ''
empty_string = ""

s = "Jedi loves Ve"
s = "I'm a boy"
quote = "She said that \"I'm a boy\""
s1 = "Hello "
s2 = "world"

s3 = "Palm"

l = len(s3) # size of string

print(s1 + s2)
print(s3 * 5)
print(l)

Hello world
PalmPalmPalmPalmPalm
4

### ***indexing***

In [7]:
s1 = "Palm" # index start from 0
print(s1[0])
print(s1[-1])
print(s1[0:3])

P
m
Pal

In [14]:
s = "I love peacock!"

print(s[0])
print(s[2:6]) # slicing
print(s[7:])
print(s[::-1]) # reverse

I
love
peacock!
!kcocaep evol I

# ***Lecture Day8***

### ***f-string (String Format)***

In [2]:
age = 12
print(f"my age is {age} years old")

my age is 12 years old

### ***in / not in operators***

In [5]:
s = "I love peacock!"

print("o" in s)
print("O" in s)
print(" " in s)

True
False
True

### ***Spliting***

In [7]:
s = "I love banana"
print(s.split())
print(s.split("a"))

['I', 'love', 'banana']
['I love b', 'n', 'n', '']

### ***count, replace***

In [10]:
s = "I love peacock"

print(s.count("p"))
print(s.replace("cock", "GGEZ"))

1
I love peaGGEZ

In [3]:
s = "I love peacock"
print(s.capitalize())
print(s.upper())
print(s.lower())

I love peacock
I LOVE PEACOCK
i love peacock

In [10]:
# loop through
s = "I love peacock"

# loop by characters
for charecter in s:
    print(charecter, end="")
print()

# loop by indexing
for i in range(len(s)):
    print(s[i], end="")
print("\n\n")

# enumerate get both of index and charecter
for i, charecter in enumerate(s):
    print(i, charecter)

I love peacock
I love peacock


0 I
1
2 l
3 o
4 v
5 e
6
7 p
8 e
9 a
10 c
11 o
12 c
13 k

# ***Lecture Day9***

### ***list***

In [7]:
empty_list = []
empty_list = list()

print("Hello", "World!", sep="+")

number = [1, 2, 3, 4]
my_list = [1, 0.2, True, "Vetit", None, [], [1, 2], print]
print(my_list)

# you can do anything like string!!!

Hello+World!
[1, 0.2, True, 'Vetit', None, [], [1, 2], <built-in function print>]

### ***Modify list***

In [25]:
# add
l = [1, 2, 3]
l.append(4)
l.insert(0, True)
l.extend([1, 3, 4, True, False])
# l.extend([]) is equal to l += []
print(l)

# delete
l = [1, 2, 3]
last_element = l.pop(1) # <-- it can put index WOW WOW
l.remove(3) # remove(value) <-- 

l = [1, 1, 2]
l.remove(1) # first element

print(l, last_element)

[True, 1, 2, 3, 4, 1, 3, 4, True, False]
[1, 2] 2

In [35]:
l = [1, 2, 0.5, None, 1, "Vetit"]

j = 0
for i in range(0, len(l)):
    if l[i] == 1:
        l[j], l[i] = l[i], l[j]
        j += 1
            
for i in l:
        l.pop(0)
l

[1, 0.5, None, 2, 'Vetit']

# ***Lecture Day 10***

### ***\*list (List extractor)***

In [4]:
l = [1, True, 0.5, "Palm", None, print]

print(l)
print(*l) # No more list, Just like grab out of all element

[1, True, 0.5, 'Palm', None, <built-in function print>]
1 True 0.5 Palm None <built-in function print>

In [18]:
l = [0] * 5 # list mutiply
m = [3] + [2] 

print(l)
print(m)

l = [4, 2, 5, 6, 1, 8]
l.sort() 
l # [1, 2, 4, 5, 6, 8]
l.sort(reverse=True) # [8, 6, 5, 4, 2, 1]
l

[0, 0, 0, 0, 0]
[3, 2]

[8, 6, 5, 4, 2, 1]

### ***in / not in***

In [28]:
l = [4, 2, 5, 6, 1, 8]
print(1 in l)
print([1,2] in l)
print([3] in l)

True
False
False

### ***List conditional***

In [31]:
l = [1, 2, 1, 3, 1, 4, [3]]

if 5 in l:
    print("YAY")
else:
    print("NO")

NO

### ***Loops***

In [ ]:
# Work like string

### ***Map***

In [33]:
l = [1.5, 2.5, 3.5]

# map(function!, list)

print(list(map(int, l)))  # change every element into integer!!!

[1, 2, 3]

In [34]:
l = [0, 1, 0.0]

print(list(map(str, l)))

['0', '1', '0.0']

### ***Codeforces Combo***

In [36]:
l = list(map(int, input().split())) # when the input is 1 2 4 5 3 2
print(l)

[1, 2, 4, 5, 3, 2]

### ***Tuple***

In [54]:
"""
Tuple is a list but
- immutable (cannot be changed, added or deleted element)
"""

t = tuple()
t = (1, 2, 3)

#  t[1] = 5 can not do this

print(t[1])
print(sorted(t, reverse=True))
print(sorted(t))
print(len(t))
print(*t)
print(tuple(map(str,t)))
print(t * 5)
print(t + t)

2
[3, 2, 1]
[1, 2, 3]
3
1 2 3
('1', '2', '3')
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3)

# ***Lecture Day 11***

### ***Set***

In [3]:
# set is a container that contain only unqiue elements

# set operations
"""
    - union
    - intersection
    - difference
"""

s = set() # empty
non_empty_set = {1, 2, 3, 3}

print(non_empty_set)

{1, 2, 3}

In [5]:
s1 = {1, 2, 3}
reversed(s1)

TypeError: 'set' object is not reversible

In [7]:
s1 = {1.5, 2.5, 3.5}
set(map(int, s1))

{1, 2, 3}

In [13]:
s1 = {1,1,2,3,4}
s1.add(5)
print(s1)
s1.remove(1)
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{3, 4, 5}
{4, 5}

In [18]:
words = {"cat", "dogs", True, False, None, 1, 0.5}
words

{0.5, False, None, True, 'cat', 'dogs'}

### ***Operators***

In [20]:
# Union
s1 = {1,2,3}
s2 = {4,5,6}

print(s1.union(s2))
s1.intersection(s2)
s1.difference(s2)
s1 - s2
s2 - s1

{1, 2, 3, 4, 5, 6}

{4, 5, 6}

In [25]:
words = {"apple", "banana", "cat", "dog"}
print(words)

{'cat', 'apple', 'dog', 'banana'}

In [26]:
s = {1, 2, 3}
l = [1, 2, 3]

1 in l # O(n)
1 in s # O(1)

True

In [28]:
s = {1, 2, 3}
for ele in s:
    print(ele)

1
2
3

In [29]:
s = {1, 2, 3}
for i, ele in enumerate(s):
    print(i, ele)

0 1
1 2
2 3

### ***dictionary***

In [33]:
# Just like set that key attrach with value

# key shouldn't be change (can add/delete)
# value can be anything
d = {
    "hourse" : 4,
    "humans" : 2,
    "fish" : 0
}

print(d)

{'hourse': 4, 'humans': 2, 'fish': 0}

In [35]:
d = {[1,2]: "No"}

TypeError: unhashable type: 'list'

In [37]:
# key just like the set, Must be hashtable type
animals_legs = {"hourse":4, "human":2, "fish":0, "monkey":3, "pig":4}
animals_legs

{'hourse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4}

In [39]:
animals_legs["hourse"] = 6 # Overwrite
animals_legs["centipede"] = 100 # Add
print(animals_legs)

{'hourse': 6, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4, 'centipede': 100}

### ***Methods***

In [53]:
animals_legs = {"hourse":4, "human":2, "fish":0, "monkey":3, "pig":4}

# get
print(animals_legs.get("turtle")) # to acess like [] but not throw error just give None

# update (argument accept only list or dict)
animals_legs.update({"centipete":100})
print(animals_legs)

# delete
animals_legs.popitem() # last item
print(animals_legs)

animals_legs.pop("hourse") # can input argument
print(animals_legs)

print(list(animals_legs.items()))
print(list(animals_legs.values()))
print(list(animals_legs.keys()))

None
{'hourse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4, 'centipete': 100}
{'hourse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4}
{'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4}
[('human', 2), ('fish', 0), ('monkey', 3), ('pig', 4)]
[2, 0, 3, 4]
['human', 'fish', 'monkey', 'pig']

# ***Lecture Day 12***

### ***Function***

In [2]:
def function_name(parameter1, parameter2):
    """ print Hello and World """
    print("Hello")  
    print("World")

In [5]:
def greet_person(name):
    """
    Receive the name of a person and print out the greeting sentence.
    """
    print(f"Hello {name}")

greet_person("Palm")
greet_person("Meow")

Hello Palm
Hello Meow

In [7]:
def calculate_price(number_of_apple_price):
    apple_price = 60
    return number_of_apple_price * apple_price

print(calculate_price(50))

3000

In [9]:
def give_5_and_3():
    return 5, 3

a, b = give_5_and_3()
print(a, b)

5 3

In [11]:
# set Default
def calculate_price_v2(number, apple_price=50):
    return number * apple_price

print(calculate_price_v2(15))
print(calculate_price_v2(15, 12))

750
180

In [14]:
# positional arguments (these one without name)
print(calculate_price_v2(15))

# keyword arguments
print(calculate_price_v2(number=5 ,apple_price=12))

# rule: postional before keyword
print(calculate_price_v2(14, apple_price=14))

750
60
196

# ***Lecture Day13***

### ***\*args \*\*kwags***

In [1]:
# problem -->
def add(a, b, c, d,):
    return a + b + c + d

In [8]:
# unspecify number of parameter
def add(*args):
    print(args) # args represents as tuple 

    result = 0
    for ele in args:
        result += ele
    return result   

print(add(1, 2, 4, 5, 6)) # can input any number of arguments

def de(a, *args): # a is require parameter
    return a

(1, 2, 4, 5, 6)
18

In [12]:
# **kwargs (keywords argument)
# handdle unspecify number of keywords arguments

def greeting(aomsub=1, palm=49, **kwargs):
    print(kwargs) # kwargs is represent as dict
    print("Hello", aomsub, palm, kwargs.get("eng"))

greeting(eng=2)

{'eng': 2}
Hello 1 49 2

### ***Literal***

In [14]:
# set type of this parameter and return type
def square(x: int) -> int:
    return x**2
square(4)

16